# --- Core ---
pyrogram
tgcrypto
flask

# --- Downloaders ---
yt-dlp
pytube
instaloader
pinterest-downloader
spotipy
soundcloud-lib
gdown
dropbox
requests
beautifulsoup4

# --- Utilities ---
python-dotenv
aiofiles
asyncio
lxml
